.page {
    min-height: 100vh;
    background: linear-gradient(90deg, #FFD700, #CC0000);
    background: -webkit-linear-gradient(90deg, #FFD700, #CC0000);
    font-family: "Pobeda", "Arial", sans-serif;
}