.calc__input {
    width: 360px;
    height: 70px;
    background-color: #4a5741;
    color: #000000;
    margin: 20px auto 0 auto;
    outline: none;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .calc__input {
        width: 288px;
        height: 56px;
        margin: 16px auto 16px auto;
        border-radius: 16px;
    }
}