.header__title {
    width: fit-content;
    margin: 0 auto 0 auto;
    font-size: 72px;
    font-weight: 700;
    line-height: calc((100vh - 500px)/2);
    color: #FFD700;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__title {
        font-size: 58px;
        line-height: calc((100vh - 400px)/2);
    }
}