@keyframes open-popup {
    from {
        right: -328px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    @keyframes open-popup {
        from {
            top: -130px;
            opacity: 0;
        }
        to {
            top: 6px;
            opacity: 1;
        }
    }
}

.popup_visible {
    animation: open-popup 1.8s forwards ease;
}